{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form class="form" method="post" action="/login">
    <p class="title">login</p>
    <p class="message">login now and get full access to our app. </p>
<!--     {% with error = get_flashed_messages(with_categories=True) %}
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error[0][1] }}
        </div>
      {% endif %}
    {% endwith %} -->
        <label>
          <input required="" placeholder="" type="text" name="username" id="username" class="input" />
          <span>User Name</span>
        </label>

        <label>
        <input required="" placeholder="" name="password" id="password" type="password" class="input" />
        <span>Password</span>
        </label>
        <button class="submit">Submit</button>
        <p class="signin">
            No account? Create one! <a href="/register">Create one!</a>
        </p>
    </form>
    <a href="/register">Register</a>
    
{% endblock %}
