:root {
    --primary-color: #1A2130;
    --sec-color: #5A72A0;
    --thrid-color: #83B4FF;
    --four-color: #FDFFE2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: var(--primary-color);
  }
   
  p
  {
    color: var(--thrid-color);
  }